@model GestionCommandes.Models.Commande

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Commande</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateCom" class="control-label"></label>
                <input asp-for="DateCom" class="form-control" />
                <span asp-validation-for="DateCom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Montant" class="control-label"></label>
                <input asp-for="Montant" class="form-control" />
                <span asp-validation-for="Montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivreurId" class="control-label"></label>
                <select asp-for="LivreurId" class="form-control" asp-items="ViewBag.LivreurId"></select>
                <span asp-validation-for="LivreurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EtatCom" class="control-label"></label>
                <select asp-for="EtatCom" class="form-control"></select>
                <span asp-validation-for="EtatCom" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateAt" class="control-label"></label>
                <input asp-for="UpdateAt" class="form-control" />
                <span asp-validation-for="UpdateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
